{% extends 'basereg.html' %}
{% block title %}Сброс пароля{% endblock title %}
{% block nav_reg %}
           <a class="nav__link" href="{% url 'login' %}">Вход</a>
           <a class="nav__link" href="{% url 'register' %}">Регистрация</a>
{% endblock %}
{% block content %}
            <h1>Сброс пароля</h1>
<hr>
{% if form.errors %}
<p> {{ form.errors.error}}</p>
{%endif%}
<form action="{% url 'password_reset' %}" method="post">
{{form}}
    {% csrf_token %}
    <button class="nav_app_my_workspace-btn" type="submit"><b>Сбросить</b></button>
</form>

{% endblock %}