{% extends 'basereg.html' %}

{% block title %}Сброс пароля{% endblock title %}
{% block nav_reg %}
           <a class="nav__link" href="{% url 'login' %}">Вход</a>
           <a class="nav__link" href="{% url 'register' %}">Регистрация</a>
{% endblock %}
{% block content %}
    {% if validlink %}
        <div class="col-md-10 row">
        <h3 class="text-center mt-5 mb-5">Сброс пароля</h3>

        <p>Введите новый пароль</p>

        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Новый пароль:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Подтвердите пароль:</label>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" value="Изменить пароль">
            </fieldset>
        </form>

    {% else %}

        <p>Ссылка изменения пароля устарела.</p>
        <p>Попробуйте сбросить пароль снова</p>

    {% endif %}
{% endblock %}