{% extends 'basereg.html' %}

{% block title %}Сброс пароля{% endblock title %}
{% block nav_reg %}
           <a class="nav__link" href="{% url 'login' %}">Вход</a>
           <a class="nav__link" href="{% url 'register' %}">Регистрация</a>
{% endblock %}
{% block content %}
    <div class="col-md-10 row">
        <h3 class="text-center mt-5 mb-5">Сброс пароля</h3>
        <p>Мы отправили письмо с ссылкой восстановления пароля на указанную почту. </p>
        <p> Если письмо не пришло, проверьте указанный email, а также спам</p>
    </div>

{% endblock %}
