{% extends 'basereg.html' %}
{% block title %}Восстановление пароля{% endblock title %}
{% block nav_reg %}
           <a class="nav__link" href="{% url 'login' %}">Вход</a>
           <a class="nav__link" href="{% url 'register' %}">Регистрация</a>
{% endblock %}
{% block content %}
    <div class="col-md-10 row">
    <h3 class="text-center mt-5 mb-5">Сброс пароля</h3>

    <p>Пароль успешно изменен.</p>
    <p>Теперь вы можете авторизоваться с новым паролем</p>

    <p><a href="{%url 'login'%}">Войти</a></p>
{% endblock %}